Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  -performance-move-const-arg,
  -bugprone-easily-swappable-parameters,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-redundant-inline-specifier,
  -readability-braces-around-statements,
  -readability-math-missing-parentheses,
  -readability-isolate-declaration,
  -readability-implicit-bool-conversion,
  -readability-redundant-member-init,
  -readability-static-accessed-through-instance,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-union-access
WarningsAsErrors: >
  clang-analyzer-*,
  cppcoreguidelines-special-member-functions,
  bugprone-use-after-move,
  bugprone-copy-constructor-init,
  performance-unnecessary-copy-initialization,
  modernize-use-override,
  modernize-use-nullptr,
