[submodule "Pain/external/glm"]
	path = Pain/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "Pain/external/glfw"]
	path = Pain/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Pain/external/spdlog"]
	path = Pain/external/spdlog
	url = https://github.com/gabime/spdlog.git
