[submodule "Pain/external/glm"]
	path = Pain/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "Pain/external/spdlog"]
	path = Pain/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Pain/external/SDL_image"]
	path = Pain/external/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "Pain/external/SDL"]
	path = Pain/external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Pain/external/imgui"]
	path = Pain/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Pain/external/freetype"]
	path = Pain/external/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "Example/flappybird"]
	path = Example/flappybird
	url = git@github.com:JaoSchmidt/NEAT-Flappybird.git
[submodule "Pain/external/msdf-atlas-gen"]
	path = Pain/external/msdf-atlas-gen
	url = https://github.com/JaoSchmidt/msdf-atlas-gen.git
