# windows-msvc-build-minimal.yml
name: Build (Windows MSVC - Minimal)

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build on Windows (MSVC Debug)
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup MSVC Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Setup vcpkg
        run: |
          git clone https://github.com/Microsoft/vcpkg.git C:/vcpkg
          C:/vcpkg/bootstrap-vcpkg.bat -disableMetrics

      - name: Install Freetype only (others might be optional)
        run: C:/vcpkg/vcpkg install freetype:x64-windows-static --recurse

      - name: Configure build
        run: cmake --preset ci-windows -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake

      - name: Build
        run: |
          cd build-ci-windows
          cmake --build . --config Debug -j 4
